 <h1>Все мотоциклы</h1>
    <h3>@Model.currCategory</h3>
    <div class="row mt-5 mb-2">
        @{ 
            foreach (moto moto in Model.allMotos)
            {
                @Html.Partial("AllMotos", moto)
            }

        }
    </div>
   
